<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recent Posts</ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)= "openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-item>
    <ion-label text-right>Sort</ion-label>
    <ion-select [(ngModel)]="sort" (ionChange)="changeSort()">
      <ion-option value="0">New to old</ion-option>
      <ion-option value="1">Old to new</ion-option>
      <ion-option value="2">A to Z</ion-option>
      <ion-option value="3">Z to A</ion-option>
    </ion-select>
  </ion-item>
  </ion-row>
  <ion-refresher (ionRefresh)="getPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor = "let item of items" (click)="openDetail(item)" >
   <ion-card-content>
    <ion-card-title align="center" [innerHTML]= "item.title.rendered"></ion-card-title>
    <ion-row>
      <ion-badge color="secondary">
        {{api.getCatName(item.categories[0])}}
      </ion-badge>
      <ion-badge color="light">
        <ion-icon name= "time"></ion-icon>
        {{item.date | date: "dd.MM.yyy / HH:mm"}}
      </ion-badge>
    </ion-row>
  </ion-card-content>
</ion-card>
<div *ngIf="isLoading && page==1"  text-center padding>
  <ion-spinner></ion-spinner>
</div>
<ion-infinite-scroll (ionInfinite)="getPosts($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
