<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
<div padding>
    <h1 text-center [innerHTML]= "post.title.rendered"></h1>
    <ion-row>
      <ion-badge color="secondary">
        {{api.getCatName(post.categories[0])}}
      </ion-badge>
      <ion-badge color="light">
        <ion-icon name= "time"></ion-icon>
        {{post.date | date: "dd.MM.yyy / HH:mm"}}
      </ion-badge>
      <ion-badge color="light">
        <ion-icon name="person"></ion-icon>
        {{post._embedded.author[0].name}}
      </ion-badge>
    </ion-row>
    <div padding [innerHTML]= "post.content.rendered"></div>
  </div>
  <div *ngIf ="this.comments">
    <ion-item-divider>Comments</ion-item-divider>
    <ion-list text-wrap *ngFor="let comment of comments">
      <ion-avatar>
        <img src="{{comment.author_avatar_urls[24]}}"/>
      </ion-avatar>
      <h4>{{comment.author_name}}</h4>
      <h5 light>{{comment.date | date: "dd.MM.yyy / HH:mm"}}</h5>
      <p [innerHtml]="comment.content.rendered"></p>
    </ion-list>
  </div>
  <div *ngIf="isLoading&&page===1"  text-center padding>
    <ion-spinner></ion-spinner>
  </div>
  
  <ion-infinite-scroll [enabled]="showMore" (ionInfinite)="getComments($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>
   
  